.company_container {
    width: 100%;
    background-color: #514e60;
    padding: 5rem 0%;
}
.company_logo_container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    position: relative;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
}

.company_icon {
    max-width: 180px;
    height: 90px;
    margin: 10px;
    filter: grayscale(200%);
}

.company_icon:hover {
    filter: brightness(120%);
}

@media only screen and (max-height: 800px) {
    .company_logo_container {
        gap: 1.5rem;
    }
    .company_icon {
        width: 140px;
        height: 70px;
    }
}
